body {
	border: 0;

	color: white;

	font-family: "Press Start 2P", cursive;

	overflow-x: hidden;
}

.bkg {
	background-color: #252e3d;
}
.footer{
	background-color: #1e2531;
	width: 100%;
	padding: 2% 0 2% 0;
	text-align: center;
}
